<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bu.PTC"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainhead"
        android:label="Pass The Class"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.bu.PTC.Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.bu.PTC.Game"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/title_activity_game" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.bu.PTC.Assignment"
            android:label="@string/title_activity_assignment"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="edu.bu.PTC.Credit"
            android:label="@string/title_activity_credit"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        
    </application>

</manifest>
